/* Normalise css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #FA5959;
}

/* Basic css */
body {
    line-height: 1.6;
    background-color: #FFFFFF;
    font-family: 'Rubik' 'sans-serif';
    color: #333;
}

/* Header styles */
.header .header-container {
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;
}

.header-container {
    width: 90%;
    margin: 0 auto;
}

.site-logo img {
    width: 142px;
}

li {
    list-style: none;
}

.btn {
    display: block;
    width: auto;
    margin: 0 auto;
    color: #FFFFFF;
    border: 2px solid #5267DF;
    background-color: #5267DF;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login {
    border: 2px solid #FA5959;
    background-color: #FA5959;
}

.btn:hover {
    background-color: #FFFFFF;
    color: #333;
}

.login:hover {
    color: #FA5959;
}
#overlay {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #FFFFFF;
}

.overlay-site-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

 #overlay .overlay-container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
 }

#overlay .btn {
    border: 2px solid #FFFFFF;
    background-color: #0000;
    width: 200px;
}

#overlay .overlay-container .overlay-nav .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    color: #D9D9D9;
    font-family: 'Rubik' 'sans-serif';
    font-weight: 100;
    text-transform: uppercase;
}

/*for mobile and tablet*/
@media (max-width: 1023px) {
    .nav {
        display: none;
    }
}

/*for desktop*/
@media (min-width: 1024px) {
    .header .header-container {
        height: 100px;
    }

    .site-logo img {
        width: 180px;
    }

    .container {
        max-width: 1240px;
    }
    .menu-icon {
        display: none;
    }

    .nav ul {
        display: flex;
        align-items: center;
        list-style: none;
        text-transform: uppercase;
        font-family: 'Rubik' 'sans-serif';
    } 

    .nav li:not(:last-child) {
        margin-right: 30px;
    }
}

/* hero section */
.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
}

.img-container img {
    max-width: 350px;
}

.img-container {
    max-width: 350px; 
    background-image: url("/images/hero-background-img.png");
    background-position: center right; 
    background-size: cover; 
    background-repeat: no-repeat;
}

.hero-container h1 {
    font-size: 2rem; 
    color: #333; 
    margin-bottom: 10px; 
    font-family: 'Rubik' 'sans-serif';
}

.hero-container p {
    font-size: 1.1rem; 
    color: #666; 
    max-width: 500px; 
    font-family: 'Rubik' 'sans-serif';
}

.hero-container button {
    padding: 10px 20px; 
    font-size: 1rem; 
    border: none; 
    border-radius: 5px; 
    background-color: #5267DF;
    color: #fff; 
    cursor: pointer; 
    margin-top: 20px;
    transition: background-color 0.3s; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.hero-container button:hover {
    background-color: #ffff;
    border: 1px solid #5267DF;
    color: #242A45;
}

.hero-container button + button {
    background-color: #F7F7F7;
    color: #242A45;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-container button + button:hover {
    border: 1px solid #242A45;
}

/*for desktop*/
@media (min-width: 1024px) {
    .hero {
        flex-direction: row-reverse;
        height: 500px;
        width: 90%;
        text-align: left;
    }

    .img-container img {
        max-width: 450px;
    }

    .hero-container h1 {
        font-size: 2.5rem; 
    }

    .hero-container {
        padding:  0 20px;
    }
}

/* Features section */
.features_container {
    padding: 40px 20px;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features-headline{
    max-width: 530px;
}

h2, h3{
    font-size: 2rem;
    color: #242A45;
    margin-bottom: 20px;
    font-family: 'Rubik' 'sans-serif';
}

h3{
    font-size: 1.9rem;
}

.features_container p {
    font-size: 1.1rem;
    color: #666;
    font-weight: 100;
    margin-bottom: 50px;
    font-family: 'Rubik' 'sans-serif';
}

.hidden {
    display: none;
}

#Features li {
    padding: 20px;
    color: #666;
    cursor: pointer;
}

#Features li:hover {
    color: #FA5959;
}

.custom-hr {
    width: 100%;
    margin: 0 auto; 
    margin-top: 10px;
}

.custom-hr:hover {
    border: 1px solid #FA5959;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
}

.feature-btn {
    background-color: #5267DF;
    border: 1px solid #5267DF;
    display: inline-block;
    margin: auto;
    cursor: pointer;
    width: 150px;
}

.hidden {
    display: none;
}

.feature-img img {
    width: 315px;
}

.feature-content {
    max-width: 530px;
}
/*for desktop*/
@media (min-width: 1024px) {
    #Features {
        padding:  0 40px;
    }
    #Features ul {
        display: flex;
    }

    .feature-img img {
        max-width: 520px;
    }

    .feature {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .feature-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        text-align: left;
    }

    #one {
        display: none;
    }
}

/*Extension Section */
.extensions-container{
    padding: 40px 20px;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.extensions-headline {
    max-width: 530px;
    padding: 10px;
}

.extensions-headline p {
    font-size: 1.1rem;
    color: #666;
    font-weight: 100;
    margin-bottom: 50px;
}

.extension {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px 40px;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    position: relative;
}

.extension-list {
    display: grid;
    gap: 30px;
}

.extension img {
    width: 100px;
}

h4 {
    font-size: 20px;
    font-family: 'Rubik' 'sans-serif';
}

.extension p {
    color: #666;
    font-size: 1rem;
}

.extension-btn::before {
    content: '';
    position: absolute;
    bottom: 80px; 
    left: 0;
    width: 100%;
    height: 0;
    border-top: 3px dotted #b0bbf9;
    border-spacing: 4px;
}

.extension-btn {
    margin-top: 30px;
}

/*for desktop*/
@media (min-width: 1024px) {
    .extension-list {
        display: flex;
        padding: 10px;
        gap: 20px;
    }

    .extension {
        height: 350px;
        width: 280px;
    }

    .extension-btn::before {
        bottom: 110px; 
    }

    .extension:nth-child(1) {
        top: 0; 
    }
    
    .extension:nth-child(2) {
        margin-top: 60px;
    }
    
    .extension:nth-child(3) {
        margin-top: 120px;
    }

}

/*Questions section */
.more-info {
    margin: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.more-info p {
    font-size: 18px;
    color: #666;
    padding-bottom: 20px;
    font-family: 'Rubik' 'sans-serif';
}

.questions {
    text-align: left;
    padding: 40px 0;
}

.questions-container {
    max-width: 540px;
}

.answer {
    display: none;
}

.question {
    border-bottom: 1px solid #ccc;
    padding: 15px 0; 
}

#quiz-one {
    border-top: 1px solid #ccc;
}

.question-title {
    cursor: pointer;
}

.question-title,
.answer,
h4, 
h5  {
    padding: 10px 0;
    font-family: 'Rubik' 'sans-serif';
}

/* Contact section */
.contacts {
    background-color: #5267DF;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contact-container {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 20px;
}

.contacts .contact-container h4 {
    letter-spacing: 5px;
    font-weight: 200px;
    font-size: 13px;
    color: #FFFFFF;
}

.contacts .contact-container h5 {
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}

.contact-container .email-contact input[type="email"] {
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid #FA5959;
    background-color: #fff;
    color: #242A45;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.email-contact {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*for desktop*/
@media (min-width: 1024px) {
    .email-contact {
        flex-direction: row;
    }

    .contacts .contact-container h4 {
        letter-spacing: 6px;
        font-size: 13px;
    }
    
    .contacts .contact-container h5 {
        font-size: 32px;
    }
}